@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root{
    --cor-fundo:#D9E3FF;
    --cor-hover:rgb(7, 199, 183);
    --cor-texto:rgb(53, 110, 103);
    --cor-titulo:rgb(53, 110, 103);
}
#principal{
    background-color: #CFDAF5;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#img2{
    width: 5%;
    margin-right: 24px;
}
#title{
    text-align: center;
    line-height: 20pt;
}
#menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo);
    word-spacing: 20px;
}
#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    width: 100%;
    font-size: 28px;
    justify-content: space-evenly;
}
#menu ul li{
    text-align: center;
    padding: 10px;
}
#menu ul li a{
    display: inline-block;
    flex-direction: row;
    padding: 10%;
    width: 100%;
    text-decoration: none;
    color: var(--cor-texto);
}

#menu ul li a:hover{
    background-color: var(--cor-hover);
    border-radius: 5px;
}

#div_produtos{  
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
}

#table_produtos{
    width: 350px;
    height: 380px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
    border: 1px solid;
    border-color: #D9E3FF;
    color: black;
    text-align: center;
}

h1, h2{
    text-align: center;
    font-size: 25px;
    color: var(--cor-titulo);
    padding: 10px;
}

th{
    font-size: 16px;
}

td{
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom:  80px;
}

.column{
    text-align: center;
}

@media only screen and (max-width:779px){
    #table_produtos{
        width: 100%;
    }
}