*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-fundo:rgba(107, 107, 107, 0.315);
    --cor-hover:rgb(7, 199, 183);
    --cor-texto:#fff;
    --cor-titulo:rgb(53, 110, 103);
}
#principal{
    background-color: var(--cor-fundo);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo);
}
#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    width: 100%;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}
#menu ul li{
    text-align: center;
    padding: 10px;
   
    
}
#menu ul li a{
    display: inline-block;
    flex-direction: row;
    padding: 10%;
    width: 100%;
    text-decoration: none;
    color: var(--cor-texto);
}

#menu ul li a:hover{
    background-color: var(--cor-hover);
    border-radius: 10px;

}

h1, h2{
    text-align: center;
    font-size: 25px;
    color: var(--cor-titulo);
    padding: 10px;
}