*{
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', Arima Madurai;
}
:root{
    --cor-fundo:rgba(107, 107, 107, 0.090);
    --cor-hover:rgb(7, 199, 183);
    --cor-texto:rgb(53, 110, 103);
    --cor-titulo:rgb(53, 110, 103);
}
#principal{
    background-color: rgba(107, 107, 107, 0.150);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#img2{
    width: 5%;
    margin-right: 24px;
}
#title{
    font-family: 'CustomFont', Arima Madurai;
    text-align: center;
    line-height: 20pt;
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo);
    word-spacing: 20px;
}
#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    width: 100%;
    font-size: 28px;
    justify-content: space-evenly;
}
#menu ul li{
    text-align: center;
    padding: 10px;
}
#menu ul li a{
    display: inline-block;
    flex-direction: row;
    padding: 10%;
    width: 100%;
    text-decoration: none;
    color: var(--cor-texto);
}

#menu ul li a:hover{
    background-color: var(--cor-hover);
    border-radius: 5px;
}

#div_produtos{  
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
}

#table_produtos{
    border-collapse: collapse;
    margin-top: 80px;
    margin-bottom:  80px;
}

h1, h2{
    text-align: center;
    font-size: 25px;
    color: var(--cor-titulo);
    padding: 10px;
}

th{
    text-align: center;
    font-size: 16px;
    color: black;
    padding: 5px;
    border: 1px solid;
}

td{
    text-align: center;
    font-size: 14px;
    color: black;
    padding: 5px;
    border: 1px solid;
}

#th1{
    background-color: white;
    border: none;
}

.row {
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom:  80px;
}

.column{
    text-align: center;
}

